<p style="margin-top:10px;margin-bottom:10px;">
	Dieses E-Mail wurde automatisch generiert
</p>
{% if settings.app_url %}
<p style="margin-top:10px;margin-bottom:10px;">
	<a href="{{ settings.app_url }}">Log in</a>
	to manage your email preferences
</p>
{% endif %}
