---
title: "This is the Title"
preheader: "This is the preheader."
---

<x-main>
  <div class="bg-white sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
          </div>

          <table class="w-full shadow-lg rounded-b-lg">
            <tr class="px-12 sm:px-6">
              <div class="h-full w-full rounded-t-lg" style="background-color: #006AA7">
                <div id="centercontent" class="p-10 mx-auto text-center">
                  <h1 class=" text-white">
                    Pfadiabteilung Lagom
                  </h1>
                </div>
              </div>
            </tr>
            <tr>
              <td class="px-12 sm:px-6 text-base text-slate-700 bg-white">
                <div class="p-5">
                  <h1 style="color: #006AA7">Form Title</h1>
                  <p class="">Hallo,<br>In dieser E-Mail erhältst Du alle Informationen des ausgefüllten Webformulars.
                  </p>
                  <p class=" font-semibold">Vorname:</p>
                  <p class="">
                    Max
                  </p>
                  <p class="font-semibold">Nachname:</p>
                  <p class="">
                    Mustermann
                  </p>
                  <p class="leading-8 font-semibold">Nachricht:</p>
                  <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                  </p>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="bg-[#4A4A4A] rounded-b-lg">
                  <p class="m-0 text-xs w-full text-center p-3 text-white">
                    Dieses E-Mail wurde automatisch von der Abteilungswebseite gesendet.
                  </p>
                </div>
              </td>
            </tr>

          </table>
      <tr role="separator">
        <td class="leading-12">&zwj;</td>
      </tr>
      <tr>
        <td class="text-center text-slate-600 text-xs px-6">
        </td>
      </tr>
      </td>
      </tr>
    </table>
  </div>
</x-main>